body {
    font-family: 'Courier New', sans-serif;
    margin: 0;
    padding: 0;
    background: #c8d690; 
    color: #3b2c1a;
}
header {
    background: #e85a64;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    border: 15px solid transparent;
}
nav ul li:hover{
    background-color: #ff6b75;
    border-radius: 15px
    
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.gallery {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: contain; 
}

.gallery img {
    max-width: 100%; 
    height: auto; 
    object-fit: contain; 
    border: 5px solid #c8d690; 
    border-radius: 5px; 
}
footer {
    text-align: center;
    padding: 10px;
    background: #ff6670;
    color: white;
}history {
    background: #fff3cd;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.gallery-item {       
    width: 100%; 
    height: auto; 
    margin: 2px;
}
